body {
  background-color: #fff;
  color: #000;
  font-size: 12pt;
  font-family: 'OFL Sorts Mill Goudy TT', 'Times New Roman', 'times', serif;
  margin: 0;
  padding: 0;
  text-align: center;
}

dt {
  margin-bottom: 2em;
}

ol {
  font-weight: bold;
  padding-left: 0;
}

li {
  margin-left: 0;
}

a {
  font-size: 150%;
  color: #cc0000;
  text-decoration: none;
  line-height: 100%;
}

#container {
  padding: 2em;
  width: 32em;
  margin: 0 auto;
  text-align: left;
}

.unicorn {
  font-weight: bold;
}

.tweet_time {
  padding-left: 1em;
/*  display: none;*/
}

.tweet_text {
  font-weight: normal;
}

#ads {
  /*margin-top: 4em;*/
}

#copyright {
  font-size: 75%;
  margin-top: 2em;
}

#word {
  font-size: 250%;
  font-weight: bold;
  display: inline;
  padding-right: 0.5em;
}

#pronunciation {
  font-size: 150%;
  display: inline;
}

#type {
  font-size: 150%;
  font-style: italic;
  display: inline;
  padding-right: 0.5em;
}

#definition {
  font-size: 150%;
  display: inline;
}
